# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title, and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest classifier, as well as another classifier of your choice; either logistic regression, SVM, or KNN. 

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters
- q for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- l for a location
- start for what result number to start on

In [504]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [505]:
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

Let's look at one result more closely. A single result looks like
```JSON
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&campaignid=serp-linkcompanyname&fromjk=2480d203f7e97210&jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a nobr element inside of a td element with class='snip.
- The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
- The location is set in a span with class='location'.
- The company is set in a span with class='company'.

## Write 4 functions to extract these items (one function for each): location, company, job title, and salary.Â¶
Example
```python
def extract_location_from_result(result):
    return result.find ...
```

##### - Make sure these functions are robust and can handle cases where the data/field may not be available.
>- Remember to check if a field is empty or None for attempting to call methods on it
>- Remember to use try/except if you anticipate errors.

- **Test** the functions on the results above and simple examples

In [506]:
### Rithika suggested I merge all of the find_alls into one large function, so the code below was created with her assistance. 

def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text
        except:
            salary = 'None'
        synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
    return df

In [507]:
parse(URL)

,Title,Location,Company,Salary,Synopsis
0,Data Scientist,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Data Scientist to ...
1,Deep Learning Data Scientist,"New York, NY",WorkFusion,None,We are looking for a data scientist to join ou...
2,Engineer/Scientist Lead R&D,"Buffalo, NY 14210",Honeywell,None,"Resultant data, designing & executing equipmen..."
3,"Data Specialist, Bureau of Systems Strengtheni...","Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,$38.47 - $44.24 an hour,Experience and the ability to conduct evaluati...
4,Student Intern,"New York, NY",NYU School of Medicine,None,To help the staff with T&E reimbursement reque...
5,Research Scientist,"New York, NY",Yahoo! Inc.,None,Research Scientist in computer vision and deep...
6,Data Science Intern - Fall 2017,"New York, NY 10016 (Gramercy area)",FactSet,None,"Scientist and engineer. Extract, transform, an..."
7,Data Science Intern - Fall 2017,"New York, NY 10016 (Gramercy area)",FactSet Research Systems,None,Just the right kind of work for a passionate d...
8,Quantitative Analyst,"New York, NY 10016 (Gramercy area)",A Priori Investment Management LLC,"$125,000 - $175,000 a year","Explore complex, unorthodox, and unstructured ..."
9,"Data Analyst, Bureau of Immunization/Immunizat...","New York, NY",DEPT OF HEALTH/MENTAL HYGIENE,$38.47 - $47.78 an hour,-Conduct geographic analysis using CIR data. E...
10,Healthcare Decision Scientist,"Manhasset, NY",Siemens,None,"Experience with Excel, TreeAge and other stati..."
11,Statistical Analysts (Full time role),"Brooklyn, NY",Nityo Infotech,"$110,000 - $120,000 a year",Credit bureau data knowledgeable is preferable...
12,Climate and Sustainability Analyst,"New York, NY",DEPT OF ENVIRONMENT PROTECTION,"$59,708 - $72,246 a year",Knowledge and practical application of quantit...
13,Data Scientist - Big Data & Analytics,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Data Scientist - B...
14,Healthcare & Life Sciences - Data Scientist,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Healthcare & Life ...

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.
- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the l=New+York and the start=10. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).
##### Complete the following code to collect results from multiple cities and starting points.
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [15]:
YOUR_CITY = 'Washington%2C+DC'

In [16]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 2000 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.
i = 0
results = []
df_more = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY, 
    'Charlottesville', 'Richmond', 'Baltimore', 'Harrisonburg', 'San+Antonio', 'San+Diego', 'San+Jose'
    'Austin', 'Jacksonville', 'Indianapolis', 'Columbus', 'Fort+Worth', 'Charlotte', 'Detroit', 'El+Paso', 
    'Memphis', 'Boston', 'Nashville', 'Louisville', 'Milwaukee', 'Las+Vegas', 'Albuquerque', 'Tucson', 
    'Fresno', 'Sacramento', 'Long+Beach', 'Mesa', 'Virginia+Beach', 'Norfolk', 'Atlanta', 'Colorado+Springs',
    'Raleigh', 'Omaha', 'Oakland', 'Tulsa', 'Minneapolis', 'Cleveland', 'Wichita', 'Arlington', 'New+Orleans', 
    'Bakersfield', 'Tampa', 'Honolulu', 'Anaheim', 'Aurora', 'Santa+Ana', 'Riverside', 'Corpus+Christi', 'Pittsburgh', 
    'Lexington', 'Anchorage', 'Cincinnati', 'Baton+Rouge', 'Chesapeake', 'Alexandria', 'Fairfax', 'Herndon',
    'Reston', 'Roanoke']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = url_template.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.replace('\n', '')
            except:
                title = None
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            try: 
                company = each.find(class_='company').text.replace('\n', '')
            except:
                company = None
            try:
                salary = each.find('span', {'class':'no-wrap'}).text
            except:
                salary = None
            try:
                synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
            except:
                synopsis = None
            df_more = df_more.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
            i += 1
            if i % 1000 == 0:  # Ram helped me build this counter to see how many. You can visibly see Ram's vernacular in the print statements.
                print('You have ' + str(i) + ' results. ' + str(df_more.dropna().drop_duplicates().shape[0]) + " of these aren't rubbish.")

You have 1000 results. 0 of these aren't rubbish.
You have 2000 results. 0 of these aren't rubbish.
You have 3000 results. 2 of these aren't rubbish.
You have 4000 results. 2 of these aren't rubbish.
You have 5000 results. 2 of these aren't rubbish.
You have 6000 results. 2 of these aren't rubbish.
You have 7000 results. 2 of these aren't rubbish.
You have 8000 results. 4 of these aren't rubbish.
You have 9000 results. 41 of these aren't rubbish.
You have 10000 results. 41 of these aren't rubbish.
You have 11000 results. 45 of these aren't rubbish.
You have 12000 results. 52 of these aren't rubbish.
You have 13000 results. 58 of these aren't rubbish.
You have 14000 results. 61 of these aren't rubbish.
You have 15000 results. 69 of these aren't rubbish.
You have 16000 results. 69 of these aren't rubbish.
You have 17000 results. 73 of these aren't rubbish.
You have 18000 results. 94 of these aren't rubbish.
You have 19000 results. 94 of these aren't rubbish.
You have 20000 results. 94 of these aren't rubbish.
You have 21000 results. 98 of these aren't rubbish.
You have 22000 results. 98 of these aren't rubbish.
You have 23000 results. 105 of these aren't rubbish.
You have 24000 results. 105 of these aren't rubbish.
You have 25000 results. 105 of these aren't rubbish.
You have 26000 results. 107 of these aren't rubbish.
You have 27000 results. 107 of these aren't rubbish.
You have 28000 results. 107 of these aren't rubbish.
You have 29000 results. 111 of these aren't rubbish.
You have 30000 results. 111 of these aren't rubbish.
You have 31000 results. 114 of these aren't rubbish.
You have 32000 results. 114 of these aren't rubbish.
You have 33000 results. 114 of these aren't rubbish.
You have 34000 results. 123 of these aren't rubbish.
You have 35000 results. 123 of these aren't rubbish.
You have 36000 results. 123 of these aren't rubbish.
You have 37000 results. 129 of these aren't rubbish.
You have 38000 results. 129 of these aren't rubbish.
You have 39000 results. 129 of these aren't rubbish.
You have 40000 results. 133 of these aren't rubbish.
You have 41000 results. 133 of these aren't rubbish.
You have 42000 results. 133 of these aren't rubbish.
You have 43000 results. 133 of these aren't rubbish.
You have 44000 results. 133 of these aren't rubbish.
You have 45000 results. 145 of these aren't rubbish.
You have 46000 results. 145 of these aren't rubbish.
You have 47000 results. 145 of these aren't rubbish.
You have 48000 results. 154 of these aren't rubbish.
You have 49000 results. 168 of these aren't rubbish.
You have 50000 results. 168 of these aren't rubbish.
You have 51000 results. 173 of these aren't rubbish.
You have 52000 results. 173 of these aren't rubbish.
You have 53000 results. 173 of these aren't rubbish.
You have 54000 results. 195 of these aren't rubbish.
You have 55000 results. 195 of these aren't rubbish.
You have 56000 results. 195 of these aren't rubbish.
You have 57000 results. 198 of these aren't rubbish.
You have 58000 results. 198 of these aren't rubbish.
You have 59000 results. 198 of these aren't rubbish.
You have 60000 results. 199 of these aren't rubbish.
You have 61000 results. 199 of these aren't rubbish.
You have 62000 results. 199 of these aren't rubbish.
You have 63000 results. 204 of these aren't rubbish.
You have 64000 results. 204 of these aren't rubbish.
You have 65000 results. 204 of these aren't rubbish.
You have 66000 results. 205 of these aren't rubbish.
You have 67000 results. 205 of these aren't rubbish.
You have 68000 results. 208 of these aren't rubbish.
You have 69000 results. 208 of these aren't rubbish.
You have 70000 results. 208 of these aren't rubbish.
You have 71000 results. 209 of these aren't rubbish.
You have 72000 results. 209 of these aren't rubbish.
You have 73000 results. 230 of these aren't rubbish.
You have 74000 results. 234 of these aren't rubbish.
You have 75000 results. 234 of these aren't rubbish.
You have 76000 results. 235 of these aren't rubbish.
You have 77000 results. 235 of these aren't rubbish.
You have 78000 results. 236 of these aren't rubbish.
You have 79000 results. 236 of these aren't rubbish.
You have 80000 results. 236 of these aren't rubbish.
You have 81000 results. 239 of these aren't rubbish.
You have 82000 results. 251 of these aren't rubbish.
You have 83000 results. 252 of these aren't rubbish.
You have 84000 results. 258 of these aren't rubbish.
You have 85000 results. 258 of these aren't rubbish.
You have 86000 results. 258 of these aren't rubbish.
You have 87000 results. 260 of these aren't rubbish.
You have 88000 results. 260 of these aren't rubbish.
You have 89000 results. 264 of these aren't rubbish.
You have 90000 results. 264 of these aren't rubbish.
You have 91000 results. 266 of these aren't rubbish.
You have 92000 results. 266 of these aren't rubbish.
You have 93000 results. 266 of these aren't rubbish.
You have 94000 results. 277 of these aren't rubbish.
You have 95000 results. 277 of these aren't rubbish.
You have 96000 results. 277 of these aren't rubbish.
You have 97000 results. 292 of these aren't rubbish.
You have 98000 results. 292 of these aren't rubbish.
You have 99000 results. 292 of these aren't rubbish.
You have 100000 results. 295 of these aren't rubbish.
You have 101000 results. 295 of these aren't rubbish.
You have 102000 results. 295 of these aren't rubbish.
You have 103000 results. 295 of these aren't rubbish.
You have 104000 results. 300 of these aren't rubbish.
You have 105000 results. 300 of these aren't rubbish.
You have 106000 results. 300 of these aren't rubbish.
You have 107000 results. 301 of these aren't rubbish.
You have 108000 results. 301 of these aren't rubbish.
You have 109000 results. 301 of these aren't rubbish.
You have 110000 results. 303 of these aren't rubbish.
You have 111000 results. 303 of these aren't rubbish.
You have 112000 results. 303 of these aren't rubbish.
You have 113000 results. 307 of these aren't rubbish.
You have 114000 results. 307 of these aren't rubbish.
You have 115000 results. 307 of these aren't rubbish.
You have 116000 results. 331 of these aren't rubbish.
You have 117000 results. 331 of these aren't rubbish.
You have 118000 results. 331 of these aren't rubbish.
You have 119000 results. 352 of these aren't rubbish.
You have 120000 results. 352 of these aren't rubbish.
You have 121000 results. 352 of these aren't rubbish.
You have 122000 results. 352 of these aren't rubbish.
You have 123000 results. 354 of these aren't rubbish.
You have 124000 results. 354 of these aren't rubbish.
You have 125000 results. 373 of these aren't rubbish.
You have 126000 results. 373 of these aren't rubbish.
You have 127000 results. 373 of these aren't rubbish.
You have 128000 results. 382 of these aren't rubbish.
You have 129000 results. 382 of these aren't rubbish.
You have 130000 results. 382 of these aren't rubbish.
You have 131000 results. 382 of these aren't rubbish.
You have 132000 results. 382 of these aren't rubbish.
You have 133000 results. 382 of these aren't rubbish.
You have 134000 results. 382 of these aren't rubbish.
You have 135000 results. 382 of these aren't rubbish.
You have 136000 results. 382 of these aren't rubbish.
You have 137000 results. 408 of these aren't rubbish.
You have 138000 results. 429 of these aren't rubbish.
You have 139000 results. 429 of these aren't rubbish.
You have 140000 results. 429 of these aren't rubbish.
You have 141000 results. 429 of these aren't rubbish.
You have 142000 results. 429 of these aren't rubbish.
You have 143000 results. 446 of these aren't rubbish.
You have 144000 results. 446 of these aren't rubbish.
You have 145000 results. 446 of these aren't rubbish.
You have 146000 results. 469 of these aren't rubbish.
You have 147000 results. 469 of these aren't rubbish.
You have 148000 results. 469 of these aren't rubbish.
You have 149000 results. 470 of these aren't rubbish.
You have 150000 results. 471 of these aren't rubbish.
You have 151000 results. 471 of these aren't rubbish.
You have 152000 results. 475 of these aren't rubbish.
You have 153000 results. 475 of these aren't rubbish.
You have 154000 results. 475 of these aren't rubbish.
You have 155000 results. 475 of these aren't rubbish.

You have 156000 results. 475 of these aren't rubbish.
You have 157000 results. 476 of these aren't rubbish.
You have 158000 results. 476 of these aren't rubbish.
You have 159000 results. 476 of these aren't rubbish.
You have 160000 results. 476 of these aren't rubbish.
You have 161000 results. 476 of these aren't rubbish.
You have 162000 results. 476 of these aren't rubbish.
You have 163000 results. 476 of these aren't rubbish.
You have 164000 results. 477 of these aren't rubbish.
You have 165000 results. 488 of these aren't rubbish.
You have 166000 results. 497 of these aren't rubbish.
You have 167000 results. 501 of these aren't rubbish.
You have 168000 results. 501 of these aren't rubbish.
You have 169000 results. 501 of these aren't rubbish.
You have 170000 results. 504 of these aren't rubbish.
You have 171000 results. 506 of these aren't rubbish.
You have 172000 results. 506 of these aren't rubbish.
You have 173000 results. 506 of these aren't rubbish.
You have 174000 results. 506 of these aren't rubbish.
You have 175000 results. 506 of these aren't rubbish.
You have 176000 results. 509 of these aren't rubbish.
You have 177000 results. 516 of these aren't rubbish.
You have 178000 results. 516 of these aren't rubbish.
You have 179000 results. 516 of these aren't rubbish.
You have 180000 results. 516 of these aren't rubbish.
You have 181000 results. 516 of these aren't rubbish.
You have 182000 results. 521 of these aren't rubbish.
You have 183000 results. 521 of these aren't rubbish.
You have 184000 results. 521 of these aren't rubbish.
You have 185000 results. 532 of these aren't rubbish.
You have 186000 results. 532 of these aren't rubbish.
You have 187000 results. 532 of these aren't rubbish.
You have 188000 results. 533 of these aren't rubbish.
You have 189000 results. 533 of these aren't rubbish.
You have 190000 results. 533 of these aren't rubbish.
You have 191000 results. 534 of these aren't rubbish.
You have 192000 results. 534 of these aren't rubbish.
You have 193000 results. 534 of these aren't rubbish.
You have 194000 results. 547 of these aren't rubbish.
You have 195000 results. 547 of these aren't rubbish.
You have 196000 results. 547 of these aren't rubbish.
You have 197000 results. 581 of these aren't rubbish.
You have 198000 results. 581 of these aren't rubbish.
You have 199000 results. 581 of these aren't rubbish.

In [17]:
df_more.to_csv('Indeed_Project_3_df_more_long_not_cleaned.csv', encoding='utf-8')

In [261]:
df_more = pd.read_csv('/Users/aakashtandel/Desktop/Indeed_Project_3_df_more_long_not_cleaned.csv')

In [262]:
df_more.drop('Unnamed: 0', axis=1, inplace=True)

In [263]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
0,Systems Administrator,"Forest, VA",Innerspec Technologies,NaN,Manage backup and restore services to ensure t...
1,Environmental Scientist,"Blacksburg, VA",CyberCoders,NaN,Environmental Scientist If you are an Environm...
2,Senior Manager,United States,Exponent,NaN,"Providing case management, data processing, an..."
3,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,NaN,You will work with a group of energized and fo...
4,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,NaN,"Architects, Data Scientists, Businesses & Prod..."

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [264]:
print (df_more.head())
print (df_more.shape)
print (df_more[df_more.Salary != 'None'].shape)
df_more = df_more[df_more.Salary != 'None'].drop_duplicates().dropna()
print (df_more.shape)

                             Title           Location                 Company  \
0            Systems Administrator         Forest, VA  Innerspec Technologies
1          Environmental Scientist     Blacksburg, VA             CyberCoders
2                   Senior Manager      United States                Exponent
3  Software Engineering Specialist  Roanoke, VA 24019        General Electric
4       Sr Staff Software Engineer  Roanoke, VA 24019        General Electric

  Salary                                           Synopsis
0    NaN  Manage backup and restore services to ensure t...
1    NaN  Environmental Scientist If you are an Environm...
2    NaN  Providing case management, data processing, an...
3    NaN  You will work with a group of energized and fo...
4    NaN  Architects, Data Scientists, Businesses & Prod...
(199055, 5)
(199055, 5)
(581, 5)

In [265]:
df_more = df_more[df_more.Salary.str.contains("hour") == False]
df_more = df_more[df_more.Salary.str.contains("month") == False]
print (df_more.shape)
df_more.head()

(409, 5)

,Title,Location,Company,Salary,Synopsis
2724,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"$50,000 - $100,000 a year",We are seeking a mid-level Environmental Scien...
8054,Data Scientist â Marketing Analytics,"Chicago, IL 60601 (Loop area)",Enterprise Select,"$125,000 a year",We are currently looking for an experienced Da...
8194,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Authority,"$55,000 - $60,000 a year",Produce analyses of crime trends and provide d...
8197,Research Analyst,"Chicago, IL 60606 (Loop area)",ICJIA,"$55,000 - $60,000 a year",(3) analyzing qualitative and quantitative dat...
8234,"Data Scientist (Python, R, AWS, Azure)","Chicago, IL",Workbridge Associates,"$85,000 - $125,000 a year",Our startup client working on risk and fraud d...

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [266]:
def salary_stripper(dataframe, column):
    dataframe[str(column)] = dataframe[str(column)].replace({'\$':''}, regex = True)
    dataframe[str(column)].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    dataframe[str(column)] = dataframe[str(column)].str.replace(' ',',')
    dataframe = dataframe.join(dataframe[str(column)].str.split(',,,', 1, expand=True).rename(columns={0:'Low', 1:'High'}))
    dataframe['Low'] = dataframe['Low'].str.replace(',','')
    dataframe['Low'] = dataframe['Low'].astype('float64')
    dataframe.drop(str(column), axis=1, inplace=True)
    dataframe['High'] = dataframe['High'].str.replace(',','')
    dataframe['High'] = dataframe['High'].apply(pd.to_numeric)
    dataframe['Average'] = dataframe[['Low', 'High']].mean(axis=1)
    return dataframe

In [267]:
df_more = salary_stripper(df_more, 'Salary')

In [268]:
df_more[50:60]

,Title,Location,Company,Synopsis,Low,High,Average
17086,Senior Data Scientist Healthcare,"Philadelphia, PA",Harnham,Senior Data Scientist - Healthcare. Reporting ...,170000.0,NaN,170000.0
17252,Data Scientist,"Philadelphia, PA",Smith Hanley Associates,Data Scientist Qualifications:. Data Scientist...,120000.0,140000.0,130000.0
17287,Predictive Analytics (Machine Learning),"Wilmington, DE","Kennedy Unlimited Inc, Professional Staffing",Salary 130K to 140K We are assisting our Clien...,130000.0,140000.0,135000.0
17376,Data Scientist/Machine Learning Specialist,"Philadelphia, PA",Jobspring Partners,"A leading healthcare analytical team, one of t...",100000.0,160000.0,130000.0
17406,NMR Spectroscopist,"West Point, PA",EPM Scientific,Scientist | Structure Elucidation*. Excellent ...,115000.0,145000.0,130000.0
17421,Data Scientist/Optimization Engineer,"Philadelphia, PA",Jobspring Partners,In this role you will be extracting power plan...,100000.0,125000.0,112500.0
17451,"Research Scientist (Gene Therapy, Molecular Cl...","Philadelphia, PA",Apex Life Sciences,Analyze and interpret the results including st...,50000.0,NaN,50000.0
17459,Machine Learning Researcher,"Philadelphia, PA",Jobspring Partners,"Experience with Data Mining. This agency, spec...",100000.0,130000.0,115000.0
17467,Quant Research Analyst,"Philadelphia, PA",3coast,Experience in data and time series analysis st...,150000.0,250000.0,200000.0
17481,Quantitative Analyst,"Philadelphia, PA",Winston Fox,"In this role, you will examine global markets,...",100000.0,110000.0,105000.0

In [269]:
df_more = df_more.join(df_more['Location'].str.split(',', 1, expand=True).rename(columns={0:'City', 1:'State'}))

In [270]:
df_more.head()

,Title,Location,Company,Synopsis,Low,High,Average,City,State
2724,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0,Nashville,TN 37220
8054,Data Scientist â Marketing Analytics,"Chicago, IL 60601 (Loop area)",Enterprise Select,We are currently looking for an experienced Da...,125000.0,NaN,125000.0,Chicago,IL 60601 (Loop area)
8194,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Authority,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0,Chicago,IL
8197,Research Analyst,"Chicago, IL 60606 (Loop area)",ICJIA,(3) analyzing qualitative and quantitative dat...,55000.0,60000.0,57500.0,Chicago,IL 60606 (Loop area)
8234,"Data Scientist (Python, R, AWS, Azure)","Chicago, IL",Workbridge Associates,Our startup client working on risk and fraud d...,85000.0,125000.0,105000.0,Chicago,IL

In [271]:
def strip_state(x):
    if x != None:
        return x[0:3]
    else:
        None
df_more['State Initials'] = df_more['State'].apply(strip_state)
df_more.head()

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials
2724,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0,Nashville,TN 37220,TN
8054,Data Scientist â Marketing Analytics,"Chicago, IL 60601 (Loop area)",Enterprise Select,We are currently looking for an experienced Da...,125000.0,NaN,125000.0,Chicago,IL 60601 (Loop area),IL
8194,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Authority,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0,Chicago,IL,IL
8197,Research Analyst,"Chicago, IL 60606 (Loop area)",ICJIA,(3) analyzing qualitative and quantitative dat...,55000.0,60000.0,57500.0,Chicago,IL 60606 (Loop area),IL
8234,"Data Scientist (Python, R, AWS, Azure)","Chicago, IL",Workbridge Associates,Our startup client working on risk and fraud d...,85000.0,125000.0,105000.0,Chicago,IL,IL

### Save your results as a CSV

In [272]:
df_more.to_csv('Indeed_Project_3_df_cleaned.csv', encoding='utf-8')

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

In [508]:
df_more = pd.read_csv('/Users/aakashtandel/Desktop/Indeed_Project_3_df_cleaned.csv', index_col=0)
df_more = df_more.reset_index(drop=True)
df_more.head()

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials
0,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0,Nashville,TN 37220,TN
1,Data Scientist â Marketing Analytics,"Chicago, IL 60601 (Loop area)",Enterprise Select,We are currently looking for an experienced Da...,125000.0,NaN,125000.0,Chicago,IL 60601 (Loop area),IL
2,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Authority,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0,Chicago,IL,IL
3,Research Analyst,"Chicago, IL 60606 (Loop area)",ICJIA,(3) analyzing qualitative and quantitative dat...,55000.0,60000.0,57500.0,Chicago,IL 60606 (Loop area),IL
4,"Data Scientist (Python, R, AWS, Azure)","Chicago, IL",Workbridge Associates,Our startup client working on risk and fraud d...,85000.0,125000.0,105000.0,Chicago,IL,IL

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [509]:
median = df_more['Average'].median()
print ('The median salary for our data set is $' + str(median))

The median salary for our data set is $86711.0

In [510]:
def above_median(x):
    if x > median:
        return 1
    return 0

df_more['Above Median'] = df_more['Average'].apply(above_median)
df_more.head()

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials,Above Median
0,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0,Nashville,TN 37220,TN,0
1,Data Scientist â Marketing Analytics,"Chicago, IL 60601 (Loop area)",Enterprise Select,We are currently looking for an experienced Da...,125000.0,NaN,125000.0,Chicago,IL 60601 (Loop area),IL,1
2,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Authority,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0,Chicago,IL,IL,0
3,Research Analyst,"Chicago, IL 60606 (Loop area)",ICJIA,(3) analyzing qualitative and quantitative dat...,55000.0,60000.0,57500.0,Chicago,IL 60606 (Loop area),IL,0
4,"Data Scientist (Python, R, AWS, Azure)","Chicago, IL",Workbridge Associates,Our startup client working on risk and fraud d...,85000.0,125000.0,105000.0,Chicago,IL,IL,1

#### Thought experiment: What is the baseline accuracy for this model?

In [511]:
df_more['Above Median'].value_counts()

0    205
1    204
Name: Above Median, dtype: int64

Baseline accuracy for our model would be about 50/50 because if we flipped a coin to determine whether or not a value is above or below the median, we have a 50/50 chance.

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [512]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from ipywidgets import *
from IPython.display import display
from sklearn.cross_validation import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.cross_validation import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.cross_validation import train_test_split

In [513]:
df_city_dummy = pd.get_dummies(df_more['City'])
df_city_dummy.head()

,Albemarle County,Albuquerque,Anchorage,Arlington,Atlanta,Auburn,Aurora,Austin,Bakersfield,Baltimore,...,Tampa,Tampa Bay,Tempe,Tripler Army Medical Center,Tucson,Washington,West Point,Wichita,Wilmington,Woodlawn
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [514]:
df_state_dummy = pd.get_dummies(df_more['State Initials'])
df_state_dummy.head()

,AK,AZ,CA,CO,DC,DE,FL,GA,HI,IL,...,NV,NY,OH,OR,PA,TN,TX,VA,WA,WI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [515]:
model = RandomForestClassifier(n_estimators=100, oob_score=True)
X = df_city_dummy
y = df_more['Above Median']
cv_model = cross_val_score(model, X, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()
model.fit(X, y)
print (model.oob_score_)

Cross-validated scores: [ 0.50724638  0.38235294  0.45588235  0.55882353  0.61764706  0.51470588]
Average score: 0.506109690253
Standard deviation of score: 0.0743113252437
0.677261613692

It seems that the city locations are slightly better than our baseline accuracy of 50/50.

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [516]:
def senior(x):
    if 'Senior' in x:
        return 1
    return 0

df_more['Senior'] = df_more['Title'].apply(senior)

In [517]:
df_more[df_more.Senior != 0]

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials,Above Median,Senior
19,Senior Data Scientist / Machine Learning Engineer,"Northbrook, IL",Request Technology,Seeking a Senior Data Scientist / Machine Lear...,130000.0,135000.0,132500.0,Northbrook,IL,IL,1,1
20,Senior Data Scientist,"Chicago, IL",Go2Group,Seeking a Data Scientist (Consultant to Archit...,130000.0,190000.0,160000.0,Chicago,IL,IL,1,1
24,Senior Data Scientist,"Chicago, IL",Workbridge Associates,You will be building out new predictive models...,130000.0,NaN,130000.0,Chicago,IL,IL,1,1
25,Senior Data Scientist - Modeling,"Chicago, IL",TS Kandilit,Sr Data Scientist â Modeling. Candidates with ...,100000.0,125000.0,112500.0,Chicago,IL,IL,1,1
29,Senior Data Engineer,"Chicago, IL",Jobspring Partners,Full stack data scientists looking to grow wit...,115000.0,130000.0,122500.0,Chicago,IL,IL,1,1
31,"Senior Data Engineer (AWS RedShift, MySQL, Pyt...","Chicago, IL",Workbridge Associates,Our client's Data Scientists and Engineers are...,80000.0,110000.0,95000.0,Chicago,IL,IL,1,1
38,Senior Data Scientist,"San Francisco, CA 94102 (Downtown area)",Aquila,Identify and own data latency and data quality...,100000.0,150000.0,125000.0,San Francisco,CA 94102 (Downtown area),CA,1,1
50,Senior Data Scientist Healthcare,"Philadelphia, PA",Harnham,Senior Data Scientist - Healthcare. Reporting ...,170000.0,NaN,170000.0,Philadelphia,PA,PA,1,1
65,Senior Statistician/Data Scientist-PHARMA,"Horsham, PA",Smith Hanley Associates,Statistician/Data Scientist Responsibilities. ...,120000.0,NaN,120000.0,Horsham,PA,PA,1,1
66,Senior Front-End Engineer,"Philadelphia, PA",Jobspring Partners,One will be a web-based application used by da...,135000.0,155000.0,145000.0,Philadelphia,PA,PA,1,1
72,Senior Software Architect for Cybersecurity In...,"Boulder, CO 80303 (Southeast Boulder area)",Technical Integrity,Designing and building large-scale and perform...,160000.0,180000.0,170000.0,Boulder,CO 80303 (Southeast Boulder area),CO,1,1
76,Laboratory Quality Assurance Officer (Senior S...,"Richmond, VA",Dept of General Services,This position will provide consultation and gu...,48681.0,60617.0,54649.0,Richmond,VA,VA,0,1
77,"Senior Analyst, Modeling","Richmond, VA",Smith Hanley Associates,Data Scientist Position Description:. 3+ years...,75000.0,90000.0,82500.0,Richmond,VA,VA,0,1
81,Data Scientist Senior,"Albemarle County, VA",University of Virginia Health System,Provides guidance to less experienced data ana...,89523.0,143229.0,116376.0,Albemarle County,VA,VA,1,1
96,Senior Research Statistician,"Columbus, OH 43212",Ohio State University Medical Center,"Identifies or develops new statistical, analyt...",71000.0,86000.0,78500.0,Columbus,OH 43212,OH,0,1
110,Senior Data Engineer,"Reston, VA 20190",Piper Companies,Collaborate with a team of other data engineer...,190000.0,200000.0,195000.0,Reston,VA 20190,VA,1,1
114,Senior Data Scientist,"Reston, VA 20190",Piper Companies,Responsibilities for the Lead Data Scientist i...,200000.0,220000.0,210000.0,Reston,VA 20190,VA,1,1
125,Senior Product Manager,"Washington, DC",Catalist,Conversant understanding of relational data an...,70000.0,100000.0,85000.0,Washington,DC,DC,0,1
132,Senior Statistician,"Pittsburgh, PA",All-In Analytics,"Experience with data mining, discovery, classi...",53000.0,98000.0,75500.0,Pittsburgh,PA,PA,0,1
135,Senior Research Scientist (Principal Investiga...,"Austin, TX 78746",Gibson - An Education Consulting & Research Group,Provide statistical consulting to clients rega...,110000.0,150000.0,130000.0,Austin,TX 78746,TX,1,1
137,Senior Data Engineer,"Austin, TX",Austin Fraser,"SENIOR DATA ENGINEER (Lead). Austin, TX â Seni...",120000.0,150000.0,135000.0,Austin,TX,TX,1,1
145,"Senior Consultant, Advanced Analytics","San Antonio, TX",Logos Infotech Inc,The Senior consultant will collaboratively wor...,117000.0,NaN,117000.0,San Antonio,TX,TX,1,1
147,Senior Market Research Analyst,"San Antonio, TX 78258",Z&A Recruiting,"Data discovery, validation, analysis (i.e. Res...",80000.0,90000.0,85000.0,San Antonio,TX 78258,TX,0,1
156,"Accounting Policy, Research and Special Projec...","Duluth, GA",JSP Recruitment Services,"Accounting Policy, Research and Special Projec...",70000.0,80000.0,75000.0,Duluth,GA,GA,0,1
169,Senior Statistical Consultant,"Roswell, GA",Principle Solutions Group,Knowledge of credit bureau and alternative dat...,120000.0,NaN,120000.0,Roswell,GA,GA,1,1
223,Senior Laboratory Analyst,"Farmington Hills, MI",Labs-Mart Inc.,Managing and interpreting analytical data. The...,50400.0,NaN,50400.0,Farmington Hills,MI,MI,0,1
224,Senior Statistical Modeler,"Dearborn, MI",JSP Recruitment Services,"Verifying data for rate indications, rate revi...",87400.0,112000.0,99700.0,Dearborn,MI,MI,1,1
232,Senior Statistician - Credit Cards,"Los Angeles, CA 90048",Seek Business Capital,Strong statistics and data analytics academic ...,65000.0,75000.0,70000.0,Los Angeles,CA 90048,CA,0,1
237,Senior iOS Developer,"Los Angeles, CA",LT,There is currently three Data Scientists. Data...,170000.0,NaN,170000.0,Los Angeles,CA,CA,1,1
239,Senior Statistician,"Calabasas, CA",Smith Hanley Associates,Data Scientist Responsibilities:. Use programm...,100000.0,140000.0,120000.0,Calabasas,CA,CA,1,1
247,"Research Nurse, Senior","Tucson, AZ",University of Arizona,Knowledge of data management techniques. Compl...,46329.0,70715.0,58522.0,Tucson,AZ,AZ,0,1
252,"Clinical Research Coordinator, Senior (Multipl...","Tucson, AZ",University of Arizona,Create case report forms (CRFs) in consultatio...,47500.0,60000.0,53750.0,Tucson,AZ,AZ,0,1
253,"Accountant, Senior (Phoenix, AZ)","Tucson, AZ",University of Arizona,Adjusts to changing needs of university operat...,38200.0,53000.0,45600.0,Tucson,AZ,AZ,0,1
265,Senior Data Scientist â Machine Learning,"Morrisville, NC",Strivector,Senior Data Scientist â Machine Learning*. Men...,170000.0,NaN,170000.0,Morrisville,NC,NC,1,1
273,Senior Data Scientist,"Los Angeles, CA",All-In Analytics,HEAD DATA SCIENTIST. The Head Data Scientist i...,150000.0,180000.0,165000.0,Los Angeles,CA,CA,1,1
284,"Senior Research Analyst, Bureau of Maternal In...","Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Perform data analyses for routine reports, dat...",78630.0,102600.0,90615.0,Queens,NY,NY,1,1
292,"Senior Policy Analyst, Bureau of Children, You...","Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,Two years as a City Research Scientist Level I...,70286.0,80829.0,75557.5,Queens,NY,NY,0,1
301,Senior Modeler,"Manhattan, NY",DEPARTMENT OF FINANCE,Construct mathematical models that predict the...,70286.0,80829.0,75557.5,Manhattan,NY,NY,0,1
306,Senior Project Manager,"Manhattan, NY",HRA/DEPT OF SOCIAL SERVICES,Provide technical assistance on available data...,78630.0,94500.0,86565.0,Manhattan,NY,NY,0,1
342,Senior Research Assistant - Neurosurgery Research,"Houston, TX",MD Anderson Cancer Center,Research scientists to design experiments invo...,38000.0,57000.0,47500.0,Houston,TX,TX,0,1
352,Senior Alcohol Beverage Applications Scientist,"Florence, KY",Branford Search Consultants,Top Specialty Chemical Company seeks an Applic...,90000.0,105000.0,97500.0,Florence,KY,KY,1,1
364,"Senior Data Science Analyst, Customer Advocacy...","Boston, MA",Liberty Mutual,Metrics & Insights team in CAO is looking for ...,90301.0,114900.0,102600.5,Boston,MA,MA,1,1
370,NDEx Senior Developer,"San Diego, CA",UC San Diego,"In-depth knowledge of bioinformatics methods, ...",75000.0,112000.0,93500.0,San Diego,CA,CA,1,1
374,Senior Software Engineer - Java,"San Diego, CA",Sharpedge Solutions Inc.,"_ data pipelines at scale, and real-time proce...",100000.0,NaN,100000.0,San Diego,CA,CA,1,1
397,"Analyst/Senior Analyst, Product Research","Seattle, WA",Liberty Mutual,Analyst of Renewal Business Experience is resp...,73300.0,114900.0,94100.0,Seattle,WA,WA,1,1
403,Senior Data Scientist,"Seattle, WA",All-In Analytics,"Experience in complex data cleansing, data val...",150000.0,275000.0,212500.0,Seattle,WA,WA,1,1
405,Senior Data Scientist,"Seattle, WA",Smith Hanley Associates,Senior Data Scientist. Senior Data Scientist R...,160000.0,180000.0,170000.0,Seattle,WA,WA,1,1

In [518]:
def manager(x):
    if 'Manager' in x:
        return 1
    return 0

df_more['Manager'] = df_more['Title'].apply(manager)

In [519]:
df_more[df_more.Manager != 0]

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials,Above Median,Senior,Manager
43,District Sales Manager,"Dallas, TX",Anchor Point Technology Resources,"Ability to handle technical processes, data ga...",100000.0,NaN,100000.0,Dallas,TX,TX,1,0,1
79,"Laboratory Manager, IRL Blood Bank","Central, IN",Lighthouse Recruiting,Join the New Medical Laboratory Scientists Gro...,70000.0,87000.0,78500.0,Central,IN,IN,0,0,1
112,Computational Image Data Analysis Manager,"Bethesda, MD",Medical Science & Computing,Analysis of biopsy and resection samples from ...,100000.0,NaN,100000.0,Bethesda,MD,MD,1,0,1
125,Senior Product Manager,"Washington, DC",Catalist,Conversant understanding of relational data an...,70000.0,100000.0,85000.0,Washington,DC,DC,0,1,1
183,"2017-07-10 IT Program Manager Earning $$213,000","McLean, VA",EMF Industries,"Our talented group of Data Scientists, Develop...",213000.0,NaN,213000.0,McLean,VA,VA,1,0,1
199,Account Manager,"Charlotte, NC 28204 (Elizabeth area)",The Creative Group,You're fascinated by data analytics:. You may ...,50000.0,60000.0,55000.0,Charlotte,NC 28204 (Elizabeth area),NC,0,0,1
203,Analytics Manager (Machine Learning),"Charlotte, NC","Kennedy Unlimited Inc, Professional Staffing",8 Plus years of modeling experience in Big Dat...,120000.0,150000.0,135000.0,Charlotte,NC,NC,1,0,1
221,District Sales Manager,"Wichita, KS",Anchor Point Technology Resources,"Ability to handle technical processes, data ga...",100000.0,NaN,100000.0,Wichita,KS,KS,1,0,1
241,"Laboratory Manager, Pulmonary and Endothelial ...","Tucson, AZ",University of Arizona,"Carry out laboratory processing of samples, in...",60000.0,80000.0,70000.0,Tucson,AZ,AZ,0,0,1
254,"Accounting Manager (Phoenix, Arizona)","Tucson, AZ",University of Arizona,"Interprets various accounting data, analyzes r...",48645.0,74251.0,61448.0,Tucson,AZ,AZ,0,0,1
275,Data Manager/Statistician,"Stony Brook, NY",Stony Brook University,Compliant data analysis. Biostatistics and dat...,52000.0,62000.0,57000.0,Stony Brook,NY,NY,0,0,1
294,Office Manager,"New York, NY",AiCure,"Learn how we combine machine learning, compute...",40000.0,50000.0,45000.0,New York,NY,NY,0,0,1
306,Senior Project Manager,"Manhattan, NY",HRA/DEPT OF SOCIAL SERVICES,Provide technical assistance on available data...,78630.0,94500.0,86565.0,Manhattan,NY,NY,0,1,1
316,Sr. Technical Laboratory Manager,"Baltimore, MD",Johns Hopkins University,This individual will also work closely with mu...,59159.0,81406.0,70282.5,Baltimore,MD,MD,0,0,1
353,Public Health Laboratory Manager,"El Paso, TX",City of El Paso,"Medical Technologist (MT), Medical Laboratory ...",55634.0,77748.0,66691.0,El Paso,TX,TX,0,0,1
363,Manager / Director of Storage,"Cambridge, MA 02138 (West Cambridge area)",WinterWyman,Strong familiarity with Enterprise Storage and...,160000.0,NaN,160000.0,Cambridge,MA 02138 (West Cambridge area),MA,1,0,1
382,Regulatory Project Manager (Interdisciplinary),"Sacramento, CA",Department of the Army,Physical Scientist (1301). Applicant's claimin...,43895.0,57067.0,50481.0,Sacramento,CA,CA,0,0,1
387,Industry Relations Manager,"Portland, OR",University of Portland,"Compile, analyze, and report relevant data. Ex...",55000.0,65000.0,60000.0,Portland,OR,OR,0,0,1
394,Project Program Manager III,"Seattle, WA",King County,"Analyze complex data, policy, practices, syste...",80413.0,101920.0,91166.5,Seattle,WA,WA,1,0,1
395,Capital Projects Delivery Program Manager,"Seattle, WA",King County,"Accumulate historical data, such as performanc...",84302.0,101920.0,93111.0,Seattle,WA,WA,1,0,1
404,District Sales Manager,"Seattle, WA",Anchor Point Technology Resources,"Ability to handle technical processes, data ga...",100000.0,NaN,100000.0,Seattle,WA,WA,1,0,1

In [520]:
def engineer(x):
    if 'Engineer' in x:
        return 1
    return 0

df_more['Engineer'] = df_more['Title'].apply(engineer)

In [521]:
df_more[df_more.Engineer != 0]

,Title,Location,Company,Synopsis,Low,High,Average,City,State,State Initials,Above Median,Senior,Manager,Engineer
14,Data Scientist/Engineer,"Chicago, IL",Jobspring Partners,They would ideally have a STEM/Quantitative de...,70000.0,80000.0,75000.0,Chicago,IL,IL,0,0,0,1
19,Senior Data Scientist / Machine Learning Engineer,"Northbrook, IL",Request Technology,Seeking a Senior Data Scientist / Machine Lear...,130000.0,135000.0,132500.0,Northbrook,IL,IL,1,1,0,1
21,Data Engineer/Scientist,"Chicago, IL",Workbridge Associates,"Big Data experience with Hadoop, Spark, Pig. A...",90000.0,125000.0,107500.0,Chicago,IL,IL,1,0,0,1
22,Machine Learning Engineer (Ruby),"Chicago, IL",Jobspring Partners,Experience working with electronic medical rec...,110000.0,130000.0,120000.0,Chicago,IL,IL,1,0,0,1
26,Software Engineer (Python),"Chicago, IL",Jobspring Partners,Brand new product that is used globally by the...,75000.0,110000.0,92500.0,Chicago,IL,IL,1,0,0,1
29,Senior Data Engineer,"Chicago, IL",Jobspring Partners,Full stack data scientists looking to grow wit...,115000.0,130000.0,122500.0,Chicago,IL,IL,1,1,0,1
30,Civil/ Environmental Engineer,"Lombard, IL 60148","Andrews Engineering, Inc.",Analyzing Data or Information. Collaborate wit...,50000.0,65000.0,57500.0,Lombard,IL 60148,IL,0,0,0,1
31,"Senior Data Engineer (AWS RedShift, MySQL, Pyt...","Chicago, IL",Workbridge Associates,Our client's Data Scientists and Engineers are...,80000.0,110000.0,95000.0,Chicago,IL,IL,1,1,0,1
39,Sales Engineer,"San Francisco, CA",Pentaho a Hitachi Company,"ETL, data warehousing and data engineering. Co...",190000.0,200000.0,195000.0,San Francisco,CA,CA,1,0,0,1
49,Data Analytics Engineer,"Philadelphia, PA",CEI,Data Analytics Engineer*. An experienced data ...,85000.0,NaN,85000.0,Philadelphia,PA,PA,0,0,0,1
55,Data Scientist/Optimization Engineer,"Philadelphia, PA",Jobspring Partners,In this role you will be extracting power plan...,100000.0,125000.0,112500.0,Philadelphia,PA,PA,1,0,0,1
60,Machine Learning Engineer,"Philadelphia, PA",Jobspring Partners,"They are looking for a Data Scientist, special...",110000.0,160000.0,135000.0,Philadelphia,PA,PA,1,0,0,1
64,DevOps Engineer,"Philadelphia, PA 19107 (City Center East area)",Juno Search Partners,Their academic platform helps answer questions...,100000.0,120000.0,110000.0,Philadelphia,PA 19107 (City Center East area),PA,1,0,0,1
66,Senior Front-End Engineer,"Philadelphia, PA",Jobspring Partners,One will be a web-based application used by da...,135000.0,155000.0,145000.0,Philadelphia,PA,PA,1,1,0,1
83,"Interdisciplinary (General Engineer, Electroni...","Charlottesville, VA",Department of the Army,And/or Knowledge of organization(s) for and me...,40684.0,52893.0,46788.5,Charlottesville,VA,VA,0,0,0,1
110,Senior Data Engineer,"Reston, VA 20190",Piper Companies,Collaborate with a team of other data engineer...,190000.0,200000.0,195000.0,Reston,VA 20190,VA,1,1,0,1
120,Embedded Engineer Intern,"Herndon, VA",digiBlitz Inc,Implementation and integration of heterogeneou...,35000.0,50000.0,42500.0,Herndon,VA,VA,0,0,0,1
133,Engineering Scientist - R and D Algorithm and ...,"Austin, TX 78758 (North Austin area)","Applied Research Laboratories, The University ...","Knowledge of digital signal processing, image ...",75000.0,130000.0,102500.0,Austin,TX 78758 (North Austin area),TX,1,0,0,1
134,Big Data Engineer,"Austin, TX",CareerMonks,Experience with integration of data from multi...,100000.0,130000.0,115000.0,Austin,TX,TX,1,0,0,1
137,Senior Data Engineer,"Austin, TX",Austin Fraser,"SENIOR DATA ENGINEER (Lead). Austin, TX â Seni...",120000.0,150000.0,135000.0,Austin,TX,TX,1,1,0,1
138,Computer Scientist/Software Engineer,"Austin, TX 78759 (Arboretum area)","Signature Science, LLC","Computer Science support to the research, deve...",79000.0,NaN,79000.0,Austin,TX 78759 (Arboretum area),TX,0,0,0,1
139,Software Development Engineers (Core Java),"Austin, TX",Winston Fox,In this role you will be working across the SD...,120000.0,200000.0,160000.0,Austin,TX,TX,1,0,0,1
149,Python Full Stack Engineer,"Atlanta, GA","HireIQ Solutions, Inc.",Work with our data scientist on our cutting ed...,75000.0,115000.0,95000.0,Atlanta,GA,GA,1,0,0,1
166,Sr. Biochemical Automation Workflow Engineer - RT,"Atlanta, GA",Absolute Opportunities,Fine-tuning sample preparation applications in...,95000.0,125000.0,110000.0,Atlanta,GA,GA,1,0,0,1
167,Systems Software Engineer,"Atlanta, GA",Emory University,Strong willingness to adhere to the security r...,86400.0,NaN,86400.0,Atlanta,GA,GA,0,0,0,1
173,Civil Engineer (Structural),"Memphis, TN",Department of the Army,"This is a Career Program (CP)-18, Engineers & ...",60210.0,93821.0,77015.5,Memphis,TN,TN,0,0,0,1
177,Software Engineer - Entry/Mid-Level,"Fort Meade, MD",National Security Agency,"As a Computer Scientist, you may be part of a ...",68586.0,85464.0,77025.0,Fort Meade,MD,MD,0,0,0,1
195,"Research Computer Engineer, AST, Data Systems","Hampton, VA",National Aeronautics and Space Administration,"For Data Analysis, Modeling and Theoretical Si...",72168.0,111560.0,91864.0,Hampton,VA,VA,1,0,0,1
218,Environmental Scientist/Engineer,"Cleveland, OH","Pacific Western Technologies, Ltd.",Consulting Oportunities for Environmental scie...,40000.0,50000.0,45000.0,Cleveland,OH,OH,0,0,0,1
228,"Software Engineer/Data Scientist, C/C++, Pytho...","Pasadena, CA",ANRE Technologies Inc.,"Scikit-learn, SciPy, Apache Big Data Suite, op...",80000.0,160000.0,120000.0,Pasadena,CA,CA,1,0,0,1
234,Big Data Engineer,"Los Angeles, CA",Jobspring Partners,This engineer will work alongside data scienti...,140000.0,180000.0,160000.0,Los Angeles,CA,CA,1,0,0,1
274,"Scientist, Bureau of Environmental Sciences an...","Queens, NY",DEPT OF HEALTH/MENTAL HYGIENE,-Supporting the development and implementation...,59708.0,65678.0,62693.0,Queens,NY,NY,0,0,0,1
279,Client Facing Python Engineers for A.I data co...,"New York, NY",Birch & James Associates Limited,An interest in machine learning and/or data sc...,70000.0,110000.0,90000.0,New York,NY,NY,1,0,0,1
291,Full-Stack Engineer,"New York, NY",605,Our team of data scientists pioneered the fiel...,95000.0,130000.0,112500.0,New York,NY,NY,1,0,0,1
296,Data Scientist- Engineer,New York State,The Talent Solution,A rapidly growing media and online content dis...,140.0,NaN,140.0,New York State,NaN,NaN,0,0,0,1
309,Sr. Data Engineer / Developer for Machine Lear...,"New York, NY",Averity,"Data Engineer, you will be responsible for hel...",125000.0,185000.0,155000.0,New York,NY,NY,1,0,0,1
322,Principal Environmental Engineer,"Laurel, MD 20707",WSSC,Ability to plan and oversee the work of profes...,75515.0,115278.0,95396.5,Laurel,MD 20707,MD,1,0,0,1
348,Head of Engineering - Accounting Platform,"Houston, TX",Oscar Technology,They are a leading investment data analysis fi...,200000.0,300000.0,250000.0,Houston,TX,TX,1,0,0,1
372,Industrial Engineering Technician,"San Diego, CA",Department of the Navy,Incorporation of technical data changes. Analy...,44899.0,86378.0,65638.5,San Diego,CA,CA,0,0,0,1
374,Senior Software Engineer - Java,"San Diego, CA",Sharpedge Solutions Inc.,"_ data pipelines at scale, and real-time proce...",100000.0,NaN,100000.0,San Diego,CA,CA,1,1,0,1
378,Data Engineer,"Tampa, FL",University of South Florida,"As a part of the Data Engineering team, the Da...",65000.0,NaN,65000.0,Tampa,FL,FL,0,0,0,1
379,Sr. Data Engineer,"Tampa, FL",University of South Florida,Data Engineerâs efforts will span the data lif...,85000.0,NaN,85000.0,Tampa,FL,FL,0,0,0,1
401,Software Engineer - Machine Learning,"Seattle, WA",NxT Level,We are looking for a passionate Data Scientist...,100000.0,135000.0,117500.0,Seattle,WA,WA,1,0,0,1

In [522]:
def data_scientist(x):
    if 'Data Scientist' in x:
        return 1
    return 0

df_more['Data Scientist'] = df_more['Title'].apply(data_scientist)

In [523]:
def analyst(x):
    if 'Analyst' in x:
        return 1
    return 0

df_more['Analyst'] = df_more['Title'].apply(analyst)

In [524]:
def assistant(x):
    if 'Assistant' in x:
        return 1
    return 0

df_more['Assistant'] = df_more['Title'].apply(assistant)

In [525]:
def internship(x):
    if 'Intern' in x:
        return 1
    return 0

df_more['Intern'] = df_more['Title'].apply(internship)

In [526]:
def developer(x):
    if 'Developer' in x:
        return 1
    return 0

df_more['Developer'] = df_more['Title'].apply(developer)

In [527]:
def machine_learning(x):
    if 'Machine Learning' in x:
        return 1
    return 0

df_more['Machine Learning'] = df_more['Title'].apply(machine_learning)

In [528]:
feature_matrix = df_more.copy(deep=True)
feature_matrix.drop(['Title', 'Location', 'Company', 'Synopsis', 'Low', 'High', 'Average', 'City', 'State', 'Above Median', 'State Initials'], axis=1, inplace=True)
print (feature_matrix.shape)
feature_matrix.head()

(409, 9)

,Senior,Manager,Engineer,Data Scientist,Analyst,Assistant,Intern,Developer,Machine Learning
0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0,0

In [529]:
model = RandomForestClassifier(n_estimators=100, oob_score=True)
X_features = pd.concat([df_city_dummy, feature_matrix, df_state_dummy], axis=1)
y = df_more['Above Median']
cv_model = cross_val_score(model, X_features, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()
model.fit(X_features, y)
print (model.oob_score_)

Cross-validated scores: [ 0.69565217  0.61764706  0.51470588  0.75        0.55882353  0.60294118]
Average score: 0.623294970162
Standard deviation of score: 0.0792507223991
0.745721271394

Adding in the key words ('Senior', 'Manager', 'Data Scientist', 'Analyst', 'Assistant', 'Intern', and 'Developer) brought the accuracy up from  50% to around 63%. Let's attempt to increase this by using a CountVectorizer on the title column.

In [587]:
from sklearn.feature_extraction.text import CountVectorizer
cvec = CountVectorizer(stop_words='english', max_features=30, ngram_range=(2,2))
vectorizers = cvec.fit_transform(df_more['Title'].values)

df_vec  = pd.DataFrame(vectorizers.todense(), columns=cvec.get_feature_names())
print (df_vec.shape)
df_vec.head()

(409, 30)

,analyst bureau,analytics machine,clinical laboratory,computer scientist,data analyst,data engineer,data science,data scientist,director data,forensic scientist,...,research analyst,research assistant,research associate,research scientist,research specialist,scientist machine,senior data,senior research,software engineer,statistical analyst
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [541]:
X_cvec = pd.concat([df_vec, df_city_dummy, df_state_dummy], axis=1)
X_cvec.head()

,analyst bureau,analytics machine,clinical laboratory,computer scientist,data analyst,data engineer,data science,data scientist,director data,forensic scientist,...,NV,NY,OH,OR,PA,TN,TX,VA,WA,WI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [555]:
model = RandomForestClassifier(n_estimators=100, oob_score=True)
y = df_more['Above Median']
cv_model = cross_val_score(model, X_cvec, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()
model.fit(X_cvec, y)
print (model.oob_score_)
importance_dataframe = pd.DataFrame(model.feature_importances_, index = X_cvec.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe.head(20)

Cross-validated scores: [ 0.69565217  0.64705882  0.52941176  0.73529412  0.54411765  0.66176471]
Average score: 0.635549872123
Standard deviation of score: 0.0752839339804
0.775061124694

                     importance
data scientist         0.115866
research analyst       0.056278
machine learning       0.033574
 AZ                    0.025583
research scientist     0.019420
data analyst           0.018224
 CA                    0.017618
senior data            0.016279
 MA                    0.015827
Chicago                0.014780
Manhattan              0.013112
Austin                 0.013001
statistical analyst    0.012960
data science           0.012788
mid level              0.012499
Philadelphia           0.012402
 DC                    0.011929
San Diego              0.011109
Tucson                 0.010721
Baltimore              0.010428

The top description features are data scientist, research analyst, machine learning, and research scientist. This dataframe will be important later in our project.

Using the count vectorizer (and a max of 30 new word features) has increased our accuracy to around 67%.

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

The code above contains cross-validated accuracy scores for each model. The Random Forest Classifier with the description words Count Vectorized and the location dummies has an average accuracy score of 67%.

#### Repeat the model-building process with a non-tree-based method.

In [543]:
from sklearn import linear_model
log_reg = linear_model.LogisticRegression()
scores_log = cross_val_score(log_reg, X_cvec, y, cv=6)
print 'Cross-validated scores:', scores_log
print 'Average score:', scores_log.mean()
print 'Standard deviation of score:', scores_log.std()
log_model = log_reg.fit(X_cvec, y)

Cross-validated scores: [ 0.72463768  0.64705882  0.60294118  0.75        0.63235294  0.67647059]
Average score: 0.672243535095
Standard deviation of score: 0.0513767594108

A logistic regression gets an average accuracy score of 65%, which isn't that much worse than our Random Forest Classifier.

In [544]:
from sklearn.svm import SVC
model_svmrbf = SVC(kernel='rbf')
scores_svm = cross_val_score(model_svmrbf, X_cvec, y, cv=6)
print 'Cross-validated scores:', scores_svm
print 'Average score:', scores_svm.mean()
print 'Standard deviation of score:', scores_svm.std()
svm_model = model_svmrbf.fit(X_cvec, y)

Cross-validated scores: [ 0.73913043  0.52941176  0.60294118  0.52941176  0.58823529  0.63235294]
Average score: 0.60358056266
Standard deviation of score: 0.0712267796773

In [545]:
model_svmlm = SVC(kernel='linear')
scores_svmlm = cross_val_score(model_svmlm, X_cvec, y, cv=6)
print 'Cross-validated scores:', scores_svmlm
print 'Average score:', scores_svmlm.mean()
print 'Standard deviation of score:', scores_svmlm.std()
svm_model = model_svmlm.fit(X_cvec, y)

Cross-validated scores: [ 0.69565217  0.64705882  0.45588235  0.63235294  0.63235294  0.66176471]
Average score: 0.62084398977
Standard deviation of score: 0.0768496806339

The radial basis kernel support vector machine performs better than the linear kernel support vector machine. The RBF SVM gets an accuracy score of 69%. This is higher than our Random Forest Classifier.

In [546]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='sgd', alpha=1e-5, hidden_layer_sizes=(100,), random_state=1, activation='relu')
cv_model = cross_val_score(clf, X_cvec, y, cv=5)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()   
clf.fit(feature_matrix, y)
#clf.score(feature_matrix, y)

Cross-validated scores: [ 0.64634146  0.63414634  0.52439024  0.59756098  0.58024691]
Average score: 0.596537187594
Standard deviation of score: 0.043281675102

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='sgd', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

The code above is my attempt at a back-prop neural network. My lack of experience with these models is evident. The accuracy score I was able to achieve with the neural network was lower than with the Random Forest model or the SVM model.

In [547]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_cvec, y)
cv_model = cross_val_score(clf, X_cvec, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()

Cross-validated scores: [ 0.69565217  0.64705882  0.45588235  0.64705882  0.61764706  0.67647059]
Average score: 0.623294970162
Standard deviation of score: 0.0787946022401

In [548]:
from xgboost import XGBClassifier
model = XGBClassifier(booster='gbtree')
cv_model = cross_val_score(model, X_cvec, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()

Cross-validated scores: [ 0.76811594  0.73529412  0.58823529  0.76470588  0.61764706  0.63235294]
Average score: 0.684391872691
Standard deviation of score: 0.0735528230258

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the job descriptions. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [549]:
cvec_synos = CountVectorizer(stop_words='english', max_features=50)
vectorizers_synos = cvec_synos.fit_transform(df_more['Synopsis']).toarray()
df_vec_synos  = pd.DataFrame(vectorizers_synos, columns=cvec_synos.get_feature_names())
print (df_vec_synos.shape)
df_vec_synos.head()

(409, 50)

,ability,analysis,analyst,analytics,analyze,analyzing,big,client,clinical,collection,...,senior,software,statistical,team,technical,use,using,work,working,years
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,1,0,0,0,0,...,0,1,1,0,0,0,2,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0

In [550]:
X_cvec_synos = pd.concat([df_vec, df_city_dummy, df_state_dummy, df_vec_synos], axis=1)
X_cvec_synos.head()

,analyst bureau,analytics machine,clinical laboratory,computer scientist,data analyst,data engineer,data science,data scientist,director data,forensic scientist,...,senior,software,statistical,team,technical,use,using,work,working,years
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,2,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0

In [551]:
X_cvec_synos.shape

(409, 236)

In [552]:
model = RandomForestClassifier(n_estimators=100, oob_score=True)
y = df_more['Above Median']
model.fit(X_cvec_synos, y)
print (model.oob_score_)
cv_model = cross_val_score(model, X_cvec_synos, y, cv=6)
print 'Cross-validated scores:', cv_model
print 'Average score:', cv_model.mean()
print 'Standard deviation of score:', cv_model.std()
importance_dataframe_big = pd.DataFrame(model.feature_importances_, index = X_cvec_synos.columns, columns=['importance']).sort_values('importance', ascending=False)
importance_dataframe_big.head(20)

0.748166259169
Cross-validated scores: [ 0.7826087   0.64705882  0.61764706  0.76470588  0.66176471  0.70588235]
Average score: 0.696611253197
Standard deviation of score: 0.060585285697

                  importance
data scientist      0.066187
data                0.041556
research analyst    0.027768
scientists          0.024998
scientist           0.023967
 AZ                 0.016833
machine learning    0.015367
looking             0.015118
machine             0.014802
analysis            0.014127
modeling            0.014027
 CA                 0.013857
research            0.013056
work                0.012845
learning            0.010887
analytics           0.010868
Washington          0.010828
client              0.010703
experience          0.010314
 DC                 0.010292

After using the countvectorizer on the description, the accuracy of the model has increased from 70% to about 72%. That isn't a huge gain in accuracy and it is evident that the small sample size of 409 observations is hurting the model.

In [553]:
from sklearn import linear_model
log_reg = linear_model.LogisticRegression()
log_model = log_reg.fit(X_cvec_synos, y)
scores_log = cross_val_score(log_reg, X_cvec_synos, y, cv=6)
print 'Cross-validated scores:', scores_log
print 'Average score:', scores_log.mean()
print 'Standard deviation of score:', scores_log.std()

Cross-validated scores: [ 0.76811594  0.66176471  0.58823529  0.77941176  0.67647059  0.64705882]
Average score: 0.686842853083
Standard deviation of score: 0.0673511141006

In [554]:
from sklearn.svm import SVC
model_svmrbf = SVC(kernel='rbf')
scores_svm = cross_val_score(model_svmrbf, X_cvec_synos, y, cv=6)
print 'Cross-validated scores:', scores_svm
print 'Average score:', scores_svm.mean()
print 'Standard deviation of score:', scores_svm.std()
svm_model = model_svmrbf.fit(X_cvec_synos, y)

Cross-validated scores: [ 0.8115942   0.66176471  0.63235294  0.72058824  0.64705882  0.66176471]
Average score: 0.689187269111
Standard deviation of score: 0.0612078682625

The RBF kernel SVM gets 72% accuracy. That is the highest we have seen so far.

#### Finding the factors that influence pay scale
I will be using a few logisitic regressions to determine how the important features effect salary (above of below the median). I will use the count vectorized titles to create a feature matrix.

In [569]:
df_vec.head()

,analyst bureau,analytics machine,clinical laboratory,computer scientist,data analyst,data engineer,data science,data scientist,director data,forensic scientist,...,research analyst,research assistant,research associate,research scientist,research specialist,scientist machine,senior data,senior research,software engineer,statistical analyst
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [597]:
log_reg = linear_model.LogisticRegression()
log_model = log_reg.fit(df_vec, y)
scores_log = cross_val_score(log_reg, df_vec, y, cv=6)
print 'Cross-validated scores:', scores_log
print 'Average score:', scores_log.mean()
print 'Standard deviation of score:', scores_log.std()

Cross-validated scores: [ 0.84057971  0.70588235  0.66176471  0.75        0.67647059  0.67647059]
Average score: 0.718527990907
Standard deviation of score: 0.0616532541053

In [598]:
df_vec.columns

Index([u'analyst bureau', u'analytics machine', u'clinical laboratory',
       u'computer scientist', u'data analyst', u'data engineer',
       u'data science', u'data scientist', u'director data',
       u'forensic scientist', u'health scientist', u'institutional research',
       u'laboratory manager', u'laboratory scientist', u'lead data',
       u'machine learning', u'medical technologist', u'mid level',
       u'predictive analytics', u'quantitative analyst', u'research analyst',
       u'research assistant', u'research associate', u'research scientist',
       u'research specialist', u'scientist machine', u'senior data',
       u'senior research', u'software engineer', u'statistical analyst'],
      dtype='object')

In [599]:
log_model.coef_

array([[-0.49698793,  0.73900318,  0.4018787 , -0.4011129 , -1.1340014 ,
         0.71107906,  1.29755756,  1.97296316,  0.69077555, -1.0531691 ,
         0.37113869, -0.49350525, -0.92846276,  0.4018787 ,  0.49758505,
         1.58588584, -0.76070008, -0.90719933, -0.09431527,  1.16153329,
        -1.19934761, -0.96314096, -1.0531691 , -0.07903533, -0.84048948,
         0.14379912,  1.21522213,  0.31214931,  0.2006506 , -0.68422931]])

In [600]:
a = zip(cvec.get_feature_names(), log_model.coef_[0])
a

[(u'analyst bureau', -0.49698793060346913),
 (u'analytics machine', 0.73900317569405205),
 (u'clinical laboratory', 0.40187870251371449),
 (u'computer scientist', -0.40111290063067334),
 (u'data analyst', -1.1340014041917821),
 (u'data engineer', 0.71107905511083724),
 (u'data science', 1.2975575620084194),
 (u'data scientist', 1.972963159845488),
 (u'director data', 0.6907755542219236),
 (u'forensic scientist', -1.0531691042602271),
 (u'health scientist', 0.3711386926088332),
 (u'institutional research', -0.49350525145683161),
 (u'laboratory manager', -0.92846276201056788),
 (u'laboratory scientist', 0.40187870251371449),
 (u'lead data', 0.4975850476920885),
 (u'machine learning', 1.5858858443770267),
 (u'medical technologist', -0.7607000821802038),
 (u'mid level', -0.90719933460147606),
 (u'predictive analytics', -0.094315268163048582),
 (u'quantitative analyst', 1.1615332906265732),
 (u'research analyst', -1.1993476136547663),
 (u'research assistant', -0.96314095627025653),
 (u'research associate', -1.0531691042602271),
 (u'research scientist', -0.079035325396770217),
 (u'research specialist', -0.84048948074540109),
 (u'scientist machine', 0.14379911973710682),
 (u'senior data', 1.2152221285141844),
 (u'senior research', 0.31214930618539583),
 (u'software engineer', 0.20065059788069103),
 (u'statistical analyst', -0.68422930672897875)]

As we can see, the title of data analyst or reserach analyst is more likely to below median salary and machine learning or data scientist are more likely to lead to higher than median salary.

In [606]:
log_reg = linear_model.LogisticRegression()
log_model = log_reg.fit(df_state_dummy, y)
scores_log = cross_val_score(log_reg, df_state_dummy, y, cv=6)
print 'Cross-validated scores:', scores_log
print 'Average score:', scores_log.mean()
print 'Standard deviation of score:', scores_log.std()
b = zip(df_state_dummy.columns, log_model.coef_[0])

Cross-validated scores: [ 0.37681159  0.42647059  0.41176471  0.73529412  0.55882353  0.47058824]
Average score: 0.496625461779
Standard deviation of score: 0.121097537211

In [607]:
b

[(' AK', 0.72041269005256525),
 (' AZ', -1.5913904215585297),
 (' CA', 0.79687578413237758),
 (' CO', -0.089576351803389076),
 (' DC', 0.71105979135444142),
 (' DE', 0.72041269005256525),
 (' FL', -0.57629965748050926),
 (' GA', -0.16263519509391899),
 (' HI', -0.37307341146541773),
 (' IL', 1.0730201189072477),
 (' IN', -0.9798366106569959),
 (' KS', 0.42954089670906592),
 (' KY', -0.22496968926774077),
 (' LA', -0.22496968926774077),
 (' MA', 1.4145622410518308),
 (' MD', -0.054130039533011064),
 (' MI', -0.22496968926774077),
 (' MN', 0.42954089670906592),
 (' NC', 0.62931289628155729),
 (' NE', -0.37307341146541773),
 (' NM', -0.63027379186631693),
 (' NV', 0.34859342918057362),
 (' NY', -0.25361003184661612),
 (' OH', -0.86607418011784176),
 (' OR', -0.97162266717301271),
 (' PA', 0.86463356421806337),
 (' TN', -0.63027379186631693),
 (' TX', -0.30844741330496261),
 (' VA', -0.030691921061724092),
 (' WA', 1.1178470053256224),
 (' WI', -0.37307341146541773)]

A job located in AZ leads us to believe the job will be below median salary and being in IL, MA, and WA lead to a higher than median salary.